<nav class="nav nav-pills">
  <a class = "nav-link" routerLink = "appareils" routerLinkActive = 'active'>Appareils</a>
  <a class = "nav-link" routerLink = "auth" routerLinkActive      = 'active'>Authentification</a>
  <a class = "nav-link" routerLink = "edit" routerLinkActive      = 'active'>Nouvel appareil</a>
  <a class = "nav-link" routerLink = "users" routerLinkActive      = 'active'>Utilisateurs</a>
  <div class="navbar-right">
    <p>Vous êtes connectés depuis {{ secondes }} secondes</p>
  </div>
</nav>

<div class="container">
  <div class="row">
    <router-outlet></router-outlet>
  </div>
</div>
